body{
    background-color: #ffffff;
}

.content{
    padding-left: 15vw;
    padding-right: 15vw;
}

p {
    font-family: 'Arial';
}

.bkImage{
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 99vw;
    height: 40vh;
}

.topPage {
    width: 100%;
    height: 40vh;
    margin-bottom: 6vh;
}

.topMenu {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    height: 5vh;
}

.logo {
    display: flex;
    width: 20vw;
    align-items: center;
    font-family: 'Arial';
    color: white;
    font-size: 38px;
    font-weight: bold;
}

.optionsMenu {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.menuButton:hover {
    cursor: pointer;
    filter: brightness(120%);
    background-color: #d0ecff;
}

.menuButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border: 2px #0071C2 solid;
    margin-top: 0.25vh;
    margin-bottom: 0.25vh;
    margin-left: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.textButton {
    color: #0071C2;
    font-size: 19px;
    font-weight: bold;
}

.menuButtonAdmin:hover {
    cursor: pointer;
    background-color: #004ab0;
}

.menuButtonAdmin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px white solid;
    margin-top: 0.25vh;
    margin-bottom: 0.25vh;
    margin-left: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.textButtonAdmin {
    color: white;
    font-size: 19px;
    font-weight: bold;
}

.language {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 5vw;
}

.flagLang {
    display: block;
    width: 67%;
    height: 67%;
    border-radius: 100%;
    border: 1.5px white solid;
}

.currency{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Arial';
}

.aboutYou {
    height: 15vh;
    margin-top: 11vh;
}

.motto {
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Arial';
}

.searchMotto{
    margin-top: 2vh;
    color: white;
    font-size: 25px;
    font-family: 'Arial';
}

.searchMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FEBB02;
    margin-top: 3vh;
    height: 6vh;
    padding: 0.4%;
    width: 80%;
    margin-left: 10%;
}

.typeInput{
    width: 40%;
    height: 100%;
}

.typeInput > input {
    width: 100%;
    height: 90%;
    border: 1px white solid;
    font-family: 'Arial';
    font-size: 22px;
}

.periodInput {
    display: flex;
    flex-direction: row;
    width: 25%;
}

.checkInOut {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10%;
}

.checkInOut > input {
    height: 60%;
    width: 95%;
}

.checkInOut > div {
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Arial';
}

.numberInput {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10%;
}

.numberInput > input {
    height: 60%;
    width: 93%;
    font-size: 20px;
}

.numberInput > div {
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Arial';
}

.submitInput:hover {
    cursor: pointer;
    background-color: #004ab0;
}

.submitInput {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3867d6;
}

.submitInput > div {
    margin-left: 1vw;
    margin-right: 1vw;
    color: white;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Arial';
}

.adRoom{
    display: flex;
    flex-direction: row;
    border: 1px #0071C2 solid;
    width: 98%;
    height: 22vh;
    padding: 1%;
    background-color: #003580;
    margin-bottom: 5vh;
}

.imageRoom {
    width: 30.2vh;
    height: 100%;
    padding-right: 1.1vw;
}

.imageRoom > img {
    width: 100%;
    height: 100%;
    border: 1px white solid;
}

.contentRoom {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 1.1vw;
}

.aboutRoom {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-bottom: 1%;
}

.mainInfRoom{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    margin-bottom: 1%;
    border-right: 1px white solid;
}

.nameRoom {
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Arial';
    color: white;
    margin-bottom: 2%;
}

.infRoom {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.firstInfRoom {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px white solid;
    padding-right: 1.1vw;
}

.secondInfRoom {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1.1vw;
}

.sthInfRoom {
    font-size: 20px;
    font-family: 'Arial';
    color: white;
}

.scInfRoom {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1.1vw;
    padding-right: 1.1vw;
}

.ratingRoom {
    display: flex;
    flex-direction: row-reverse;
    color: white;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: bold;
}

.ratingRoom > div {
    border: 2px white solid;
    padding: 4%;
}

.priceRoom {
    height: 50%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.priceRoom > div:nth-child(1){
    color: white;
    font-size: 25px;
    font-family: 'Arial';
    font-weight: bold;
}

.priceRoom > div:nth-child(2){
    color: white;
    font-size: 14px;
    font-family: 'Arial';
    font-weight: bold;
}

.rentRoom{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 30%;
    margin-top: 1vh;
}

.rentRoom > div {
    background-color: #1E91D6;
    border: 1px white solid;
    padding: 3%;
    color: white;
    font-size: 23px;
    font-family: 'Arial';
    font-weight: bold;
}

.rentRoom > div:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.needLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18%;
    border: 1px white solid;
    color: rgb(240, 240, 240);
    font-size: 18px;
    font-family: 'Arial';
}